    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>About Us</h2>
                <p>  We are a team of IT experts working in IT industry for more than 15 years from Bangalore, India. We have vast experience in IT infra Support domain.</p>
              </div>
              <p>"You can't solve a problem on the same level that it was created. You have to rise above it to the next level." -AlBERT EINSTEIN</p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="img/wrapper-img.png" alt="Img">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>