    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">{{ page.title }}</h1>
              <p class="animated fadeInUp">We love the technologies and the work we do.We work hard to learn them </br> And share them with our followers and readers.</p>
            </div>
          </div>
        </div>
      </div>
    </section>